$bg-grey: #cac2c2;
$bg-black: #131313;
$dk-green: #223e44;
$lt-green: #3c7e8a;

// ----- FORM -----
#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
    background-color: $bg-grey;
    .contact-text {
        text-align: center;
        width: 70%;
        padding-bottom: 2%;
        h3, p {
            padding-top: 2%;
        }
    }
}
form {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .form-top {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .form-row-1, .form-row-2, .form-row-3 {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        .form-row-3 {
            
        }
    }
    .full-name, .email {
        box-shadow: none;
        background-color: $bg-grey;
        border: 1px solid $lt-green;
        width: 49.5%;
        height: 45px;
        padding: 3% 1%;
    }
    .message {
        background-color: $bg-grey;
        border: 1px solid $lt-green;
        width: 100%;
        height: 100px;
        padding: 1% 1% 8%;
    }
    .hidden {
        display: none;
    }
    .submit {
        padding: 15px 30px 10px 30px;
        background-color: $bg-grey;
        border: 1px solid $lt-green;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: $dk-green;
            border: 1px solid $lt-green;
            color: white;
            text-shadow: none;
        }
    }
    .full-name, .email, .message, .submit {
        margin: 4px 0;
    }
}