// PARTIALS
@import "partials/_setup.scss";
@import "partials/_typography.scss";
@import "partials/_menu.scss";
@import "partials/_contact.scss";
@import "partials/_footer.scss";

$bg-grey: #cac2c2;
$bg-black: #131313;
$dk-green: #223e44;
$lt-green: #3c7e8a;

* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #131313;
    justify-content: space-around;
    overflow-x: hidden;
}
/* ----- HEADER ----- */
h1 {
    color: #EEDDE0;
    padding: 5% 2% 2% 2%;
    text-shadow: 0 0 30px #63D7EC,
        0 0 10px #A1D6E6,
        0 0 100px #63D7EC,
        0 0 500px #67E3F3,
        5px 9px 5px #00000080;
}
// ---- PORTFOLIO SECTION -----
.section-portfolio {
	margin: 40px auto 120px;
	max-width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    a {
        width: 25%;
        color: #131313;
        margin-bottom: 10%;
    }
    figure {
        position: relative;
        overflow: hidden;
        // height: 510px;
        margin: 5px;
        background: #333;
        border: 1px solid $dk-green;
    }
    figure img {
        position: relative;
        display: block;
        width: 100%;
        opacity: 0.7;
        transition: opacity 0.3s;
    }
    figcaption {
        position: absolute;
        top: 0;
        z-index: 11;
        padding: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
        h2 {
            margin: 0 0 20px 0;
            padding-top: 5px;
            text-transform: uppercase;
            letter-spacing: 3px;
            // font-size: 130%;
            transition: transform 0.3s;
        }
        p {
            padding: 0 5px;
            color: #aaa;
            font-weight: 300;
            transition: opacity 0.3s, transform 0.3s;
        }
        h2, p {
            transform: translateY(50px);
        }
    }
    figure button {
        position: absolute;
        padding: 10px 20px;
        border: none;
        transition: opacity 0.3s, transform 0.3s;
    }
    figcaption,
    figcaption h2,
    figcaption p,
    figure button {
        backface-visibility: hidden;
    }
    svg {
        position: absolute;
        top: -1px; /* fixes rendering issue in FF */
        z-index: 10;
        width: 100%;
        height: 100%;
        stroke: $lt-green;
        path {
            fill: $bg-black;
            // border: 1px solid $lt-green;
        }
    }
    a:hover figure img {
        opacity: 1;
    }
    a:hover figcaption h2,
    a:hover figcaption p {
        transform: translateY(0);
        padding-top: 5px;
    }
    a:hover figcaption p {
        opacity: 0;
    }
    figure button {
        top: 50%;
        left: 50%;
        border: 1px solid $lt-green;
        background: $bg-black;
        color: #fff;
        opacity: 0;
        transform: translateY(-50%) translateX(-50%) scale(0.25);
    }
    a:hover figure button {
        opacity: 1;
        transform: translateY(-50%) translateX(-50%) scale(1);
    }
}

#divider-arrow {
    background-color: $bg-grey;
    position: relative;
    .arrow-down {
        position: absolute;
        bottom: 0;
        left: 0;
        // width: 0;
        // height: 0;
        // border-color: $bg-black transparent;
        // border-style: solid;
        // border-width: 20px 20px 0px 20px;
        &:before {
            position: absolute;
            border-style: solid;
            border-width: 83px 50vw 0;
            height: 0;
            width: 100vw;
            border-color: transparent $bg-grey;
            top: -83px;
            left: 0;
            content: "";
        }
    }
    &:after {
        position: absolute;
        border-style: solid;
        border-width: 83px 50vw 0;
        height: 0;
        width: 100vw;
        border-color: transparent #cac2c2;
        top: -83px;
        right: 0px;
        content: "";
    }
}