article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.7rem; }

h1 {
  font-size: 125px;
  font-size: 12.5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 70px;
  text-align: center;
  font-weight: 600; }

.h1-secondary {
  font-size: 50px;
  font-size: 5rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 20px;
  text-align: center;
  font-weight: 600;
  padding: 40px 0 16px 20px; }

.h2-on-black, .h3-on-black {
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600; }

.sub-head_title {
  letter-spacing: 7px;
  text-align: center;
  padding-top: 5px; }

.p-on-black {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 25px;
  color: white; }

button {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 1px; }

.h2-on-grey, .h3-on-grey, .h4-on-white {
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #223e44;
  font-weight: 600; }

.p-on-grey {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 25px;
  color: #3c7e8a;
  font-weight: 400;
  text-shadow: 1px 1px 1px #cac2c2; }
  .p-on-grey span {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-transform: lowercase;
    color: #223e44;
    font-weight: 600; }

.full-name, .email, .message {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: #3c7e8a;
  font-weight: 400;
  text-shadow: 1px 1px 1px #cac2c2; }

.submit {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: #223e44; }

@media (max-width: 900px) {
  h1 {
    font-size: 110px;
    font-size: 11rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 70px; } }

@media (max-width: 650px) {
  h1 {
    font-size: 80px;
    font-size: 8rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 40px; } }

@media (max-width: 500px) {
  h1 {
    font-size: 50px;
    font-size: 5rem;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 30px; } }

.nav {
  position: fixed;
  left: -300px;
  top: 0;
  bottom: 0;
  list-style: none;
  width: 250px;
  height: 375px;
  background: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding-top: 20px;
  line-height: 15px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  z-index: 20; }
  .nav li {
    width: 100%;
    list-style: none; }
    .nav li a {
      font-size: 22px;
      font-size: 2.2rem;
      font-family: "Josefin Sans", sans-serif;
      text-transform: uppercase;
      text-align: left;
      color: black;
      text-decoration: none;
      margin: 0;
      padding: 40px 20px 5px;
      display: inline-block;
      width: 100%;
      border-bottom: 1px solid lightgrey; }
      .nav li a:hover {
        color: #516161;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        border-bottom: 1px solid #223e44;
        text-shadow: 1px 1px 3px #223e44; }

.site--wrapper {
  width: 100%;
  position: relative;
  left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

#toggle:checked + .nav {
  left: 0; }

input:checked {
  left: 200px; }

#toggle {
  display: none; }

#nav-icon {
  width: 40px;
  height: 30px;
  margin: 5px auto 0;
  position: relative;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: black;
  border-radius: 2px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0px; }

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 11px; }

#nav-icon span:nth-child(4) {
  top: 22px; }

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.top-bar {
  width: 100%;
  max-width: 2600px;
  height: 40px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 30; }
  .top-bar label {
    font-size: 25px;
    padding-left: 20px;
    color: white; }
  .top-bar #nav-icon {
    color: black;
    display: none; }
  .top-bar .container--nav {
    display: block;
    width: 95%; }
    .top-bar .container--nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      list-style: none; }
      .top-bar .container--nav ul li {
        padding: 15px; }
        .top-bar .container--nav ul li a {
          font-size: 18px;
          font-size: 1.8rem;
          font-family: "Josefin Sans", sans-serif;
          text-transform: uppercase;
          -webkit-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          padding: 0 5%;
          text-decoration: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0); }
          .top-bar .container--nav ul li a:hover {
            color: #516161;
            -webkit-transition: all 0.5s;
            -o-transition: all 0.5s;
            transition: all 0.5s;
            border-bottom: 1px solid #516161; }

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10% 0;
  background-color: #cac2c2; }
  #contact .contact-text {
    text-align: center;
    width: 70%;
    padding-bottom: 2%; }
    #contact .contact-text h3, #contact .contact-text p {
      padding-top: 2%; }

form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  form .form-top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    form .form-top .form-row-1, form .form-top .form-row-2 {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    form .form-top .form-row-3 {
      margin: 0 auto; }
  form .full-name, form .email {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #cac2c2;
    border: 1px solid #3c7e8a;
    width: 49.5%;
    height: 45px;
    padding: 3% 1%; }
  form .message {
    background-color: #cac2c2;
    border: 1px solid #3c7e8a;
    width: 100%;
    height: 100px;
    padding: 1% 1% 8%; }
  form .hidden {
    display: none; }
  form .submit {
    padding: 15px 30px 10px 30px;
    background-color: #cac2c2;
    border: 1px solid #3c7e8a;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    form .submit:hover {
      background-color: #223e44;
      border: 1px solid #3c7e8a;
      color: white;
      text-shadow: none; }
  form .full-name, form .email, form .message, form .submit {
    margin: 4px 0; }

@media (max-width: 1080px) {
  form {
    width: 80%; } }

@media (max-width: 650px) {
  .contact-text {
    text-align: center;
    width: 90%; }
  form {
    width: 90%; }
    form .full-name, form .email {
      width: 100%; } }

.subpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .subpage .sub-head {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .subpage .sub-head .sub-head_container {
      width: 100%; }
      .subpage .sub-head .sub-head_container.outline {
        border: 1px solid #3c7e8a;
        margin: 15px 0;
        padding: 15px 0; }
      .subpage .sub-head .sub-head_container .back {
        width: 20px;
        padding-bottom: 15px; }

.gallery {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .gallery .gallery-image {
    max-width: 16.66%;
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
    border-right: 0.5px solid #131313;
    border-bottom: 0.5px solid #131313;
    overflow: hidden;
    position: relative;
    -o-object-fit: cover;
    object-fit: cover; }
    .gallery .gallery-image .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding-top: 25px;
      background: rgba(34, 62, 68, 0.6);
      opacity: 0;
      -webkit-transition: .5s ease;
      -o-transition: .5s ease;
      transition: .5s ease; }
    .gallery .gallery-image img {
      width: 100%;
      display: block; }
  .gallery .gallery-image:hover .overlay {
    cursor: pointer;
    opacity: 1; }

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
  /* The Close Button */
  /* Modal Content */ }
  .modal .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold; }
    .modal .close:hover, .modal .close:focus {
      color: #999;
      text-decoration: none;
      cursor: pointer; }
  .modal .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    /* Hide the slides by default */
    /* Next & previous buttons */
    /* On hover, add a black background color with a little bit see-through */
    /* Position the "next button" to the right */
    /* Caption text */ }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .modal .modal-content .mySlides {
      display: none;
      background-color: black; }
      .modal .modal-content .mySlides .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0; }
      .modal .modal-content .mySlides img {
        display: block;
        margin-left: auto;
        margin-right: auto; }
    .modal .modal-content .prev,
    .modal .modal-content .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      -webkit-transition: 0.6s ease;
      -o-transition: 0.6s ease;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-user-select: none; }
    .modal .modal-content .prev:hover,
    .modal .modal-content .next:hover {
      background-color: rgba(0, 0, 0, 0.8); }
    .modal .modal-content .next {
      right: 0;
      border-radius: 3px 0 0 3px; }
    .modal .modal-content .caption-container {
      text-align: center;
      background-color: black;
      padding: 2px 16px;
      color: white; }

img.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

footer {
  width: 100%;
  background-color: white; }
  footer .footer-wrapper {
    width: 90%;
    margin: 0 auto;
    padding: 1% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer .footer-wrapper .left a, footer .footer-wrapper .right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-decoration: none; }
  footer h4 {
    padding-top: 5px; }
  footer .fab {
    font-size: 40px;
    color: #223e44;
    padding-left: 10px; }
  footer .fas {
    font-size: 25px;
    color: #223e44;
    padding-right: 12px; }

@media (max-width: 600px) {
  .footer-wrapper .left, .footer-wrapper .right {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer-wrapper .left {
    padding: 2% 0 4% 0; }
    .footer-wrapper .left a {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  .footer-wrapper .right {
    padding-bottom: 2%; } }

* {
  margin: 0;
  padding: 0; }

body {
  max-width: 2400px;
  background-color: #131313;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  overflow-x: hidden; }

/* ----- HEADER ----- */
.neon-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .neon-hero h1 {
    color: #EEDDE0;
    text-shadow: 0 0 30px #63D7EC, 0 0 10px #A1D6E6, 0 0 100px #010708, 0 0 500px #67E3F3; }
  .neon-hero .h1-top {
    padding: 10% 0 3% 25px; }
  .neon-hero .h1-bottom {
    padding: 0 0 2% 25px; }

.section-portfolio {
  margin: 40px auto 120px;
  max-width: 1200px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .section-portfolio a {
    width: 25%;
    color: #131313;
    margin-bottom: 10%; }
  .section-portfolio figure {
    position: relative;
    overflow: hidden;
    margin: 5px;
    background: #333;
    border: 1px solid #223e44; }
  .section-portfolio figure img {
    position: relative;
    display: block;
    width: 100%;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .section-portfolio figcaption {
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center; }
    .section-portfolio figcaption h2 {
      margin: 0 0 20px 0;
      padding-top: 5px;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      -o-transition: transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s; }
    .section-portfolio figcaption p {
      padding: 0 5px;
      color: #aaa;
      font-weight: 300;
      -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
      transition: opacity 0.3s, -webkit-transform 0.3s;
      -o-transition: opacity 0.3s, transform 0.3s;
      transition: opacity 0.3s, transform 0.3s;
      transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s; }
    .section-portfolio figcaption h2, .section-portfolio figcaption p {
      -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
      transform: translateY(50px); }
  .section-portfolio figure button {
    position: absolute;
    padding: 10px 20px;
    border: none;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s; }
  .section-portfolio figcaption,
  .section-portfolio figcaption h2,
  .section-portfolio figcaption p,
  .section-portfolio figure button {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .section-portfolio svg {
    position: absolute;
    top: -1px;
    /* fixes rendering issue in FF */
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke: #3c7e8a; }
    .section-portfolio svg path {
      fill: #131313; }
  .section-portfolio a:hover figure img {
    opacity: 1; }
  .section-portfolio a:hover figcaption h2,
  .section-portfolio a:hover figcaption p {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    padding-top: 5px; }
  .section-portfolio a:hover figcaption p {
    opacity: 0; }
  .section-portfolio figure button {
    top: 50%;
    left: 50%;
    border: 1px solid #3c7e8a;
    background: #131313;
    color: #fff;
    opacity: 0;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
    -ms-transform: translateY(-50%) translateX(-50%) scale(0.25);
    transform: translateY(-50%) translateX(-50%) scale(0.25); }
  .section-portfolio a:hover figure button {
    opacity: 1;
    -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
    -ms-transform: translateY(-50%) translateX(-50%) scale(1);
    transform: translateY(-50%) translateX(-50%) scale(1); }

#divider-arrow {
  background-color: #cac2c2;
  position: relative; }
  #divider-arrow .arrow-down {
    position: absolute;
    bottom: 0;
    left: 0; }
    #divider-arrow .arrow-down:before {
      position: absolute;
      border-style: solid;
      border-width: 83px 50vw 0;
      height: 0;
      width: 100vw;
      border-color: transparent #cac2c2;
      top: -83px;
      left: 0;
      content: ""; }
  #divider-arrow:after {
    position: absolute;
    border-style: solid;
    border-width: 83px 50vw 0;
    height: 0;
    width: 100vw;
    border-color: transparent #cac2c2;
    top: -83px;
    right: 0px;
    content: ""; }

@media (max-width: 1080px) {
  .h1-top {
    padding: 10% 0 2% 25px; }
  .section-portfolio {
    width: 80%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section-portfolio a {
      width: 48%;
      margin-bottom: 3%; } }

@media (max-width: 650px) {
  .section-portfolio {
    width: 80%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .section-portfolio a {
      width: 98%;
      margin-bottom: 3%; }
      .section-portfolio a:hover figcaption h2 {
        padding-top: 0; }
      .section-portfolio a svg {
        height: 70%; } }
